<%- include ('partials/header') -%>

<h1 class="text-center text-3xl border-2 border-primary rounded-xl w-3/4 my-10 m-auto p-5">Movie's List</h1>

<a href="/add"><button class="block m-auto"><i class="btn text-3xl fa fa-plus mb-5"></i></button></a>


<div class="overflow-x-auto w-full mb-10">
    <table class="table w-3/4 m-auto">
      <thead>
        <tr class="text-primary">
          <th>Title</th>
          <th>Year</th>
          <th>Rating</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% for(let i=0; i < movies.length; i++) {%>
          <td><a class="text-xl underline underline-offset-4" href="<%= movies[i].imdb %>"><%= movies[i].title %></a></td>
          <td class="text-xl">
            <%= movies[i].year %>
          </td>
          <% if(movies[i].rating == null) {%>
          <td>
            <div class="ratings">
              <form id="addRatingForm" action="/addMovieRating/<%=movies[i]._id%>?_method=PUT" method="POST">
                <input type="number" step=".01" min="0" max="10" name="rating" class="m-auto w-1/4 p-3 text-xs">
                <button class="fa fa-check btn m-auto" type="Submit"></button>
                </form>
            </div>
          </td>
          <%} else {%>
          <td class="text-xl">
              <%= movies[i].rating %>
          </td>
          <% } %>
          <td>
            <form action="/deleteMovie/<%= movies[i]._id %>?_method=DELETE" method="POST">
              <button type="submit"><i class="btn fa fa-trash"></i></button>
            </form>
          </td>
        </tr>
        <% } %>
      </tbody>     
    </table>
  </div>


<%- include ('partials/footer') -%>